* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e9e9e9;
    text-align: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 15px;
}

.card {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid #FF5C1A;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 60px;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    font-size: 14px;
    color: #000;
}

/* remove aparência roxa/azul do link */
.botao {
    text-decoration: none;
    color: inherit;
}

/* remove borda azul ao clicar */
.botao:focus {
    outline: none;
}

@media (max-width: 400px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.navbar {
    background: #FF5C1A;
    padding: 15px;
    display: flex;
    align-items: center;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 9999; /* <-- AQUI ESTÁ A MAGIA */
}


.menu-lateral a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
}

.menu-lateral a:hover {
    background: #f2f2f2;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.navbar {
    background: #FF5C1A;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right {
    position: relative;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
}

.notificacao {
    font-size: 22px;
    cursor: pointer;
    position: relative;
}

.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: red;
    color: white;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 50%;
}


footer {
    background: #222;
    color: #000000;
    text-align: center;
    padding: 30px;
}

.accordion-button {
    background-color: #ff5b1a35 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #ff5b1a35 !important;
    box-shadow: none;
}

.accordion-body {
    background-color: #ff5b1a20;
}

.accordion-item {
    border: none;
}

.btn-credencial {
    background-color: #ff5b1a;
    color: white;
    border: none;
    transition: 0.3s;
}

.btn-credencial:hover {
    background-color: #e04e15;
    transform: scale(1.03);
}

hr {
    border: none;
    height: 3px;
    background: linear-gradient(to right, #ff0000, #0000ff);
    margin: 20px 0;
}

html {
  scroll-behavior: smooth;
}

.canal-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-left: 5px solid #ff5b1a;
    transition: 0.3s ease;
}

.canal-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    color: #ff5b1a;
}
